header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.main-row {
  height: 100vh;
  background-color: yellow;
  padding: 3rem;
}

#d1,
#d2,
#d3,
#d4 {
  height: 40vh;
}

#d1 {
  background-color: tomato;
}

#d2 {
  background-color: violet;
}

#d3 {
  background-color: wheat;
}

#d4 {
  background-color: blue;
}
