header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
.bkg-color {
  /* height: 100vh; */
  background-color: #bbbfca;
}
/* Phone CSS */
.main-row {
  padding: 3rem;
}

.phone-card-teach-dash {
  background-color: #e8e8e8;
}

#d1,
#d2,
#d3,
#d4 {
  height: 40vh;
  background-color: #495464;
  margin-bottom: 3rem;
}

#d1 {
}

#d2 {
}

#d3 {
}

#d4 {
}
